:root {
  //colors
  --gray-300: #d3d3d3;

  --white: #ffffff;
  --black: #000000;
  //borders
  --border--rounded-1: 1rem;
  --border--round-025: 0.25rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 60rem;
  height: 95vh;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./components/layout.scss");
